.coustom_control_checkbox {
  height: 18px;
  width: 18px;
}
.coustom_control_checkbox_title {
  font-weight: 500;
  color: #022738;
  font-size: 14px;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.chekbox_filter {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-block: 7px;
  cursor: pointer;
}
