.booking___mainContainer {
  min-height: calc(100vh - 115px);

  .nav {
    max-height: 164.5px;
  }
  .booking__nav {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(51, 65, 80, 0.06),
      0 5px 15px rgba(51, 65, 80, 0.11);
    overflow: hidden;
  }
}
