.vendor__tour_container {
  .tour__images__box {
    .tour__images {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border: 2px solid #419c3c;
    }
    &.selected {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -11px;
        right: 0px;
        z-index: 1030;
        background-image: url(/imgs/check_circle_line.svg);
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        background-position: center;
      }
    }
  }
  .form {
    width: 100%;

    &__container {
      position: relative;
      width: 100%;
      height: 200px;
      border: 2px dashed #ced4da;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #419c3c;
      margin-bottom: 5px;
      border-radius: 4px;
      flex-direction: column;

      &.active {
        background-color: rgba($color: silver, $alpha: 0.2);
      }
      .images__container {
        position: relative;
        width: 250px;
        height: 100%;
      }
      .close {
        top: -10px;
        right: -10px;
      }
    }
    .images___containerBox {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 5px;
      .images__container {
        position: relative;
      }
    }
    &__file {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0;
    }

    &__files-container {
      display: flex;

      width: 100%;
      padding: 5px 0;
      justify-content: space-between;
      align-items: center;
    }

    &__text {
      font-size: 18px;
      color: #ced4da;
      max-width: 450px;
      whitespace: no-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__icon {
      font-size: 22px;
      color: #1871b5;
      text-decoration: none;
    }
  }
}
